/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

.exam{
    max-width: 1440px;
    height: 8000px;
    background: #212121;
    margin: 0 auto;
}

.sect1{
    max-height: 1000px;
    background-image: url(./image/header.png);
    background-repeat: no-repeat;
    max-width: 1400px;
    background-size: 100%;
}

.sect1 .menu ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-right: 5%;
    padding-bottom: 60px;
    margin: 0 0;
}

.sect1 .menu ul li{
    list-style-type: none;
}

.sect1 .menu ul li a{
    text-decoration: none;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #95a76e;
    text-transform: uppercase;
}

.sect0{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}



.sect1 .logo{
    /*padding-left: 60%;*/
    padding-bottom: 110px;
}

.sect1 h2{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 57px;
    color: #95a76e;
    text-transform: uppercase;
    /*padding-left: 60%;*/
    margin: 0 0;
    padding-bottom: 110px;
}

.sect1 h2 span{
    font-size: 78px;
    font-weight: bold;
}

.sect1 p a{
    width: 350px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
    color: #95a76e;
    text-transform: uppercase;
    text-decoration: none;
    /*margin: 0 0 0 63%;*/
    background:#95a76e73;
    padding: 20px;
}

.sect1 p :hover{
    background: #212121;
}

.sect2{
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 auto;   
    height: 100hv;
    max-height: 490px;
}

.sect2 .content{
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;

}

.sect2 .content h2{
    color: #95a76e73;
    font-family: 'GoodDog Cool', arial;
    font-size: 29px;
    margin-bottom: 45px;
}

.sect2 .content p{
    font-family: 'Montserrat', sans-serif;
    color: #d3d3d3;
    font-size: 19px;
}

.sect3{
    background: #95a76e73;
    max-height: 375px;
    display: flex;
    justify-content: space-around;
}

.sect3 ul{
    list-style-type: none;
    margin-top: 25%;
}

.sect3 ul li h3{
    font-family: 'GoodDog Cool', arial;
    font-size: 25px;
    color: #e8e8e8;
}

.sect3 ul li p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #d3d3d3;
    max-width: 300px;
    margin-bottom: 25%;
}

.sect5{
    background: #95a76e73;
    max-height: 400px;
}

.sect5 h2{
    font-family: 'GoodDog Cool', arial;
    font-size: 42px;
    color: #afc67b;
    padding-top: 70px;
    text-align: center;
}

.sect5 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #d3d3d3;
    padding-bottom: 50px;
    text-align: center;
    }

.sect5 .img{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-bottom: 100px;
}

.sect6{
    height: 1730px;
    max-height: 1730px;
    background-image: url(./image/sect6back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.sect6 .snos{
    padding-top: 240px;
    background: relative #95a76e7c;
}

.sect6 .snos h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'GoodDog Cool', arial;
    font-size: 71px;
    color: #e5e5e5;
    padding-top: 50px;
}

.sect6 .snos p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #e5e5e5;
    padding-top: 20px;
}

.sect6 .snos .item{
    display: flex;
    justify-content: space-around;
}

.sect6 .snos .item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

..sect6 .snos .item span{
    font-family: 'GoodDog Cool', arial;
    font-size: 17px;
}

.sect6 .snos ul{
    list-style-type:none;
}

.sect8{
    height: 780px;
    background-image: url(./image/sect8.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.sect9{
    height: 825px;
    background: #95a76e73;
}

.sect9 h2{
    text-align: center;
    padding-top: 45px;
    font-family: 'GoodDog Cool', arial;
    font-size: 77px;
    text-transform: uppercase;
    color: #afc67b;
    margin: 0 auto;
}

.sect9 h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 55px;
    color: #e7e7e7;
    margin: 0 auto;
}

.sect9 .cards{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sect9 .cards .card{
    margin-left: 25px;
    height: 500px;
    width: 340px;
}
.sect9 .cards .card .card-body h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #585858;
}

.sect9 .cards .card .card-body p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #4f4e4e;
}

.sect9 .cards .card .card-body span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #4f4e4e;
}

.sect9 .cards .card .card-body .a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.sect10{
    height: 340px;
}

.sect10 h2{
    text-align: center;
    padding-top: 15px;
    font-family: 'GoodDog Cool', arial;
    font-size: 60px;
    text-transform: uppercase;
    color: #afc67b;
    margin: 0 auto;
}

.sect10 h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin: 0 auto;
    padding-top: 10px;
    color: #afc67b;
    text-align: center;
}

.sect10 h4{
    text-align: center;
    padding-top: 20px;
    font-family: 'GoodDog Cool', arial;
    font-size: 30px;
    color: #afc67b;
    margin: 0 auto;
}

.sect10 .button{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.sect10 .button .item{
    margin-left: 5px;
}

.sect11{
    height: 325px;
    background: #95a76e73;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}

.sect11 .left{
    padding-top: 75px;
    width: 50%;
    margin-left: 7%;
}

.sect11 .left h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
    color: #ffffff;
}

.sect11 .left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin: 0 auto;
    color: #ffffff;
}

.sect11 .right{
    display: flex;
    justify-content: flex-end;
    padding-top: 75px;
    width: 50%;
    margin-right: 10%;
}

.sect11 .right h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
    color: #ffffff;
    text-align: left;
}


.sect11 .right ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin: 0 auto;
    color: #ffffff;
    list-style-type: none;
    padding-top: 10px;
    text-decoration: none;
}

.sect11 .right .item2 ul li{
    font-weight: 300;
}



    @media(max-width: 1300px){
    .sect2 .content{margin-top: 80px;}
    .sect2 .img{
        width: 650px;
    }
    .sect6{
        height: 1400px;
    }
    .sect6 .snos{
        padding-top: 200px;
    }

    .sect8{
        height: 720px;}

}

@media(max-width: 1200px){

    .sect1 .menu ul{
        padding-bottom: 50px;
    }

	.sect1 .menu ul li a{
		font-size: 30px;
    }

    .sect1 .logo{
        padding-bottom: 95px;
    }

    .sect1 h2{
        font-size: 50px;
        padding-bottom: 95px;
    }

    .sect1 h2 span{
        font-size: 70px;
    }

    .sect1 p a{
        width: 300px;
        font-size: 42px;
        padding: 15px;
    }
    .sect2 .content{
        margin-top: 80px;
    }

    .sect2 .content h2{
        font-size: 25px;
        margin-bottom: 40px;
    }

    .sect2 .content p{
        font-size: 17px;
    }

    .sect2 .img{
        width: 580px;
    }

    .sect6{
        height: 1300px;
    }

    .sect6 .snos{
        padding-top: 160px;
    }

    .sect8{
        height: 630px;}

}

@media(max-width: 1050px){

    .sect1 .menu ul{
        padding-bottom: 42px;
    }

	.sect1 .menu ul li a{
        padding-left: 35px;
		font-size: 25px;
    }

    .sect1 .logo{
        padding-bottom: 80px;
    }

    .sect1 h2{
        font-size: 42px;
        padding-bottom: 80px;
    }

    .sect1 h2 span{
        font-size: 63px;
    }

    .sect1 p a{
        width: 250px;
        font-size: 35px;
        padding: 12px;
    }

    .sect2 .img{
        width: 550px;
    }
    .sect2 .content{
        margin-top: 70px;
    }

    .sect2 .content h2{
        font-size: 22px;
        margin-bottom: 35px;
    }

    .sect2 .content p{
        font-size: 15px;
    }

    .sect6{
        height: 1100px;
    }

    .sect6 .snos{
        padding-top: 120px;
    }

    .sect8{
        height: 570px;}


.sect9 .cards .card{
    width: 300px;
    height: 460px;
}

.sect10 h2{
    font-size: 55px;
}

.sect10 h3{
    font-size: 15px;
}

.sect10 h4{
    font-size: 25px;
}
}

@media(max-width: 950px){

    .sect1 .menu ul{
        padding-bottom: 35px;
        padding-top: 50px;
    }

	.sect1 .menu ul li a{
        padding-left: 30px;
		font-size: 20px;
    }

    .sect1 .logo{
        padding-bottom: 65px;
    }

    .sect1 h2{
        font-size: 35px;
        padding-bottom: 65px;
    }

    .sect1 h2 span{
        font-size: 50px;
    }

    .sect1 p a{
        width: 220px;
        font-size: 28px;
        padding: 10px;
    }

    .sect2 .img{
        width: 500px;
    }
    .sect2 .content{
        margin-top: 60px;
    }

    .sect2 .content h2{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .sect2 .content p{
        font-size: 12px;
    }

    .sect6{
        height: 1000px;
    }

    .sect6 .snos{
        padding-top: 80px;
    }

    .sect6 .snos h2{
        font-size: 65px;
        padding-top: 30px;
    }

    .sect6 .snos p{
        font-size: 42px;
    }

    .sect6 .snos .item ul li p{
        font-size: 15px;
    }

    .sect6 .snos .item ul li span{
        font-size: 15px;
    }

    .sect8{
        height: 520px;}
}


    @media(max-width: 870px){
        .sect2 .img{
            width: 450px;
        }
        .sect3 ul li h3{
            font-size: 20px;
        }
        .sect3 ul li p{
            font-size: 15px;
        }
        .sect6 .snos{
            padding-top: 70px;
        }
    
        .sect6 .snos h2{
            font-size: 60px;
            padding-top: 25px;
        }

        .sect6 .snos p{
            font-size: 38px;
        }

        .sect6 .snos .item ul li .img{
            height: 65px;
        }
    
        .sect6 .snos .item ul li p{
            font-size: 12px;
        }
        .sect6 .snos .item ul li span{
            font-size: 12px;
        }

        .sect6{
            height: 900px;
        }

        .sect8{
            height: 470px;
        }
        .sect10 h2{
            font-size: 50px;
        }
        
        .sect10 h3{
            font-size: 12px;
        }
        
        .sect10 h4{
            font-size: 22px;
        } 

        .sect11 .left h2{
            font-size: 18px;
        }

        .sect11 .right h2{
            font-size: 18px;
        }


        .sect11 .left p{
            font-size: 15px;
        }

        .sect11 .right ul li{
            font-size: 15px;
        }

        .sect11 .right .item{
            width: 100px;
        }
        .sect11 .right .item2{
            width: 100px;
        }

        .sect11 .left p{
            width: 200px;
            margin-left: 0;
        }
      
    }

    @media(max-width: 800px){

        .sect1 .menu ul{
            padding-bottom: 30px;
            padding-top: 40px;
        }
    
        .sect1 .menu ul li a{
            padding-left: 25px;
            font-size: 18px;
        }
    
        .sect1 .logo{
            padding-bottom: 50px;
        }
    
        .sect1 h2{
            font-size: 25px;
            padding-bottom: 40px;
        }
    
        .sect1 h2 span{
            font-size: 45px;
        }
    
        .sect1 p a{
            width: 180px;
            font-size: 22px;
            padding: 8px;
        }

        .sect2 .img{
            width: 400px;
        }
        .sect2 .content{
            margin-top: 45px;
        }
    
        .sect2 .content h2{
            font-size: 15px;
            margin-bottom: 22px;
        }
    
        .sect2 .content p{
            font-size: 10px;
        }

        .sect6 .snos p{
            padding-top: 0;
        }

        .sect6{
            height: 850px;
        }

        .sect8{
            height: 430px;
        }

        .sect11 .left p{
            font-size: 14px;
        }
    
        .sect11 .right ul li{
            font-size: 14px;
        }

        .sect11 .right{
            margin-right: 10%;
        }
    }


    @media(max-width: 720px){
        .sect3 ul li h3{
            font-size: 18px;
        }
        .sect3 ul li p{
            font-size: 13px;
        }

        .sect6{
            height: 800px;
        }
        .sect6 .snos{
            padding-top: 40px;
        }
    
        .sect6 .snos h2{
            font-size: 50px;
            padding-top: 15px;
        }

        .sect6 .snos p{
            font-size: 32px;
        }

        .sect6 .snos .item ul li .img{
            height: 50px;
        }
    
        .sect6 .snos .item ul li p{
            font-size: 10px;
        }
        .sect6 .snos .item ul li span{
            font-size: 10px;
        }

        .sect8{
            height: 400px;}
    }

    @media(max-width: 680px){

            .sect1 .menu ul{
                padding-bottom: 20px;
                padding-top: 35px;
            }
        
            .sect1 .menu ul li a{
                padding-left: 20px;
                font-size: 15px;
            }
        
            .sect1 .logo{
                padding-bottom: 40px;
                width: 80px;
                height: 80px;
            }
        
            .sect1 h2{
                font-size: 20px;
                padding-bottom: 30px;
            }
        
            .sect1 h2 span{
                font-size: 40px;
            }
        
            .sect1 p a{
                width: 150px;
                font-size: 17px;
                padding: 6px;
            }

            .sect2 .img{
                width: 340px;
            }
            .sect2 .content{
                margin-top: 35px;
            }
        
            .sect2 .content h2{
                font-size: 17px;
                margin-bottom: 25px;
            }
        
            .sect2 .content p{
                font-size: 10px;
            }

            .sect3 ul li h3{
                font-size: 15px;
            }
            .sect3 ul li p{
                font-size: 10px;
            }

            .sect5 h2{
                font-size: 35px;
                padding-top: 40px;
            }

            .sect5 p{
                font-size: 18px;
            }

            .sect6{
                height: 700px;
            }

            .sect8{
                height: 370px;
            }

            .sect10 h2{
                font-size: 50px;
            }
            
            .sect10 h3{
                font-size: 10px;
            }
            
            .sect10 h4{
                font-size: 18px;
            }

            .sect11 .left p{
                font-size: 9px;
            }
    
            .sect11 .right ul li{
                font-size: 9px;
            }

            .sect11 .left p{
                width: 150px;
                margin-left: 0;
            }
        }



            @media(max-width: 630px){
                .sect2 .img{
                    width: 300px;
                }
                .sect2 .content{
                    margin-top: 30px;
                }
                .sect6 .snos{
                    padding-top: 25px;
                }
            
                .sect6 .snos h2{
                    font-size: 45px;
                    padding-top: 10px;
                }
                .sect6 .snos p{
                    font-size: 25px;
                }
        
                .sect6 .snos .item ul li .img{
                    height: 35px;
                }
            
                .sect6 .snos .item ul li p{
                    font-size: 8px;
                }
                .sect6 .snos .item ul li span{
                    font-size: 8px;
                }

                .sect6{
                    height: 620px;
                }

                .sect8{
                    height: 340px;
                }

                .sect10 h4{
                    font-size: 15px;
                }
    
                .sect11 .left p{
                    font-size: 7px;
                }
        
                .sect11 .right ul li{
                    font-size: 7px;
                }
                .sect11 .right{
                    width: 40%;
                }
    
                .sect11 .left{
                    width: 40%;
                }

            }

            @media(max-width: 580px){
                .sect2 .img{
                    width: 280px;
                }
                .sect2 .content{
                    margin-top: 27px;
                }

                .sect3 ul li h3{
                    font-size: 13px;
                }
                .sect3 ul li p{
                    font-size: 9px;
                }

                .sect3 .img{
                    height: 25px;
                }

                .sect5 h2{
                    font-size: 32px;
                }
    
                .sect5 p{
                    font-size: 15px;
                }

                .sect5 .img{
                    padding-bottom: 30px;
                }

                .sect8{
                    height: 300px;
                }
                .sect10 h2{
                    font-size: 45px;
                }
                
                .sect10 h4{
                    font-size: 15px;
                }

                .sect11 .left h2{
                    font-size: 12px;
                }

                .sect11 .right h2{
                    font-size: 12px;
                }


                .sect11 .left p{
                    font-size: 10px;
                }
        
                .sect11 .right ul li{
                    font-size: 10px;
                }

                .sect11 .left p{
                    width: 120px;
                }

                .sect11 .right .item{
                    width: 80px;
                }

                .sect11 .right .item2{
                    width: 80px;
                }

            }

            @media(max-width: 530px){

                .sect1 .menu ul{
                    padding-bottom: 15px;
                    padding-top: 25px;
                }
            
                .sect1 .menu ul li a{
                    padding-left: 10px;
                    font-size: 12px;
                }
            
                .sect1 .logo{
                    padding-bottom: 30px;
                    width: 60px;
                    height: 60px;
                }
            
                .sect1 h2{
                    font-size: 15px;
                    padding-bottom: 20px;
                }
            
                .sect1 h2 span{
                    font-size: 30px;
                }
            
                .sect1 p a{
                    width: 100px;
                    font-size: 12px;
                    padding: 3px;
                }

                .sect2 .img{
                    width: 260px;
                }
                .sect2 .content{
                    margin-top: 25px;
                }
            
                .sect2 .content h2{
                    font-size: 15px;
                    margin-bottom: 20px;
                }
            
                .sect2 .content p{
                    font-size: 8px;
                }

                .sect3 ul li h3{
                    font-size: 10px;
                }
                .sect3 ul li p{
                    font-size: 8px;
                }

                .sect5 h2{
                    font-size: 25px;
                    padding-top: 20px;
                }
    
                .sect5 p{
                    font-size: 12px;
                }

                .sect6{
                    height: 480px;
                }
                .sect6 .snos{
                    padding-top: 10px;
                }
            
                .sect6 .snos h2{
                    font-size: 35px;
                    padding-top: 5px;
                }
                .sect6 .snos p{
                    font-size: 20px;
                }
        
                .sect6 .snos .item ul li .img{
                    height: 25px;
                }
            
                .sect6 .snos .item ul li p{
                    font-size: 7px;
                }
                .sect6 .snos .item ul li span{
                    font-size: 7px;
                }

                .sect8{
                    height: 255px;}
            
            }

                @media(max-width: 425px){

                    .sect1 .menu ul{
                        padding-bottom: 10px;
                        padding-top: 15px;
                    }
                
                    .sect1 .menu ul li a{
                        padding-left: 5px;
                        font-size: 10px;
                    }
                
                    .sect1 .logo{
                        padding-bottom: 20px;
                        width: 50px;
                        height: 50px;
                    }
                
                    .sect1 h2{
                        font-size: 10px;
                        padding-bottom: 15px;
                    }
                
                    .sect1 h2 span{
                        font-size: 20px;
                    }
                
                    .sect1 p a{
                        width: 80px;
                        font-size: 10px;
                        padding: 2px;
                    }

                    .sect2 .img{
                        width: 200px;
                    }
                    .sect2 .content{
                        margin-top: 20px;
                    }
                
                    .sect2 .content h2{
                        font-size: 12px;
                        margin-bottom: 15px;
                    }
                
                    .sect2 .content p{
                        font-size: 6px;
                    }

                    .sect3 ul li h3{
                        font-size: 8px;
                    }
                    .sect3 ul li p{
                        font-size: 7px;
                    }
                    .sect5 h2{
                        font-size: 20px;
                        padding-bottom: 20px;
                        padding-top: 20px;
                    }
        
                    .sect5 p{
                        font-size: 9px;
                        padding-bottom: 10px;
                    }
                    .sect5 .img{
                        padding-bottom: 0px;
                    }

                    .sect6{
                        height: 430px;
                    }

                    .sect8{
                        height: 215px;
                    }

                    .sect11 .left h2{
                        font-size: 10px;
                    }

                    .sect11 .right h2{
                        font-size: 10px;
                    }

                    .sect11 .left p{
                        width: 80px;
                    }
    
                    .sect11 .right .item{
                        width: 60px;
                    }
    
                    .sect11 .right .item2{
                        width: 60px;
                    }

                }

                @media(max-width: 400px){
                    .sect6 .snos h2{
                        font-size: 30px;
                        padding-top: 3px;
                    }
                    .sect6 .snos p{
                        font-size: 15px;
                    }
            
                    .sect6 .snos .item ul li .img{
                        height: 20px;
                    }
                
                    .sect6 .snos .item ul li p{
                        font-size: 5px;
                    }
                    .sect6 .snos .item ul li span{
                        font-size: 5px;
                    }

                    .sect6{
                        height: 380px;
                    }
                }
         

                @media(max-width: 360px){
                        .sect2 .img{
                            width: 150px;
                        }
                        .sect2 .content{
                            margin-top: 5px;
                        }
                        .sect3 ul li h3{
                            font-size: 7px;
                        }
                        .sect3 ul li p{
                            font-size: 4,5px;      
                    }

                    .sect8{
                        height: 190px;}
                @media(max-width: 340px){
                        .sect3 ul li h3{
                            font-size: 6px;   
                        }
                        .sect3 .img{
                            height: 20px;
                        }   
                        
                        .sect6{
                            height: 350px;
                        }
                    }

}